<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>登録フォーム</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />
</head>
<body>
    <form action="/check" method="post">
        <h1>登録内容</h1>
        <div>
            <input type="text" name="name" placeholder="名前" required/>
        </div>
        <div>
            <input type="number" name="age" placeholder="年齢" required/>
        </div>
        <div>
            <input type="email" name="email" placeholder="メールアドレス" required/>
        </div>
        <div>
            <label for="agree">同意する</label>
            <input type="checkbox" id="agree" name="agree" placeholder="同意する" required/>
        </div>
        <div>
            <label for="detail">備考欄</label>
            <textarea id="detail" name="detail"></textarea>
        </div>
        <button>登録</button>
    </form>

</body>
</html>